.header {
    background: #333;
    color: #fff;
    /* text-align: center; */
    /* padding: 10px; */
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


li a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

li a:hover:not(.active) {
  background-color: #111;
}

.addTask {
  float: right;
  position: relative;
  top: 13px;
  right: 10px;
  cursor: pointer;
}

